
body {
    background-image: url(Bilder/bg.png);
    margin: 0;
    display: block;
    font-family: serif;
    font-style: oblique;
    color: white;
    max-width: 800px;
    
}

h1 {
    font-size: 23px;
    margin:0;
}

p {
    font-size: 16px;
}

i {
    font-size: 16px;
}

nav {
    position: relative;
}

.wrapper {
    position:  relative;
    top: 150px;
    left: 400px;
}

.pinguin {
    position: absolute;
    top: 360px;
    left: 865px;
}

.busch {
    position: absolute;
    top: 100px;
    left: 320px;
}

.text {
    position: absolute;
    top: 210px;
    left: 460px;
}