body {
    background-image: url('image/schnee.jpg');
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: 160%;

}

.Hintergrund {
    display: flex;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    top: 70px;
    left: 35%;
    height: 500px;
    width: 500px;
}

.play {
    width: 130px;
    height: 130px;
    position: relative;
    left: 35%;
    top: 2px;
}

.Pad1 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #d363a8,  #ffffff);
    border-radius: 10px;
    margin:2px;
}

.Pad2 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #943d77,  #ffffff);
    border-radius: 10px;
    margin: 2px;
}

.Pad3 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #702c5a,  #ffffff);
    border-radius: 10px;
    margin:2px;
}

.Pad4 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #4f67c5,  #ffffff);
    border-radius: 10px;
    margin:2px;
}

.Pad5 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #374b97,  #ffffff);
    border-radius:10px;
    margin:2px;
}

.Pad6 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #132570,  #ffffff);
    border-radius: 10px;
    margin:2px;
}

.Pad7 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #39af35,  #ffffff);
    border-radius: 10px;
    margin:2px;
}

.Pad8 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #288a25,  #ffffff);
    border-radius: 10px;
    margin:2px;
}

.Pad9 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient( #165814,  #ffffff);
    border-radius: 10px;
    margin:2px;
}