body { 
    background-image: url(Bild/bg.png);
    max-width: 800px;
    font-family: sans-serif;
}

ul {
    position: absolute;
    list-style-type: none;
    top:150px;
    left:500px;
}

h1 {
    position: absolute;
    top:50px;
    left:520px;
}
li a {
    display: block;
    background-color: white;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 8px 5px;
    text-decoration: none;

}

li a:hover {
    background-color: rgb(167, 140, 140);
    color:black;
}